<h1>
  {{title}}
</h1>

<nav>
  <a  routerLink = "/users">users |</a>
  <a  routerLink = "/posts">posts</a>
</nav>
<router-outlet></router-outlet>
<!--<jce-posts>Loading...</jce-posts> -->
<!-- <jce-users>Loading...</jce-users> -->
