<span *ngIf = "!isEdit" > User Id: {{post.userId}}, Title: {{post.title}} </span> 
<span *ngIf = "isEdit"> 
    User Id: <input type="text" [(ngModel)] = "post.userId" >, 
    Title: <input type="text" [(ngModel)] = "post.title" >  
</span> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 