<div>
<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>  
<jce-spinner [visible]= "isloading" ></jce-spinner>
  <ul class="list-group posts">
    <li *ngFor = "let post of posts" 
        [class.active]="currentPost == post" 
        (click) = "select(post)"
        class="list-group-item">
       <jce-post [post] = "post"
       (deleteEvent) = "deletePost($event)"></jce-post>
    </li>
  </ul>
</div>
